body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgb(255,255,255);
background: linear-gradient(174deg, rgba(255,255,255,1) 0%, rgba(244,250,255,1) 58%, rgba(148,237,255,1) 100%);
}

.inicio-contenedor-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boton-inicio {
  margin: 20px;
}